[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghaminer = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
